### Answer1

In [2]:
for i in range(2000,3201):
  if i%7 == 0 and i%5 != 0:
    print(i,end = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

### Answer 2

In [4]:
fact = 1
num = int(input())
for i in range(2,num+1):
  fact *= i
print(fact)

8
40320

### Answer 3

In [6]:
n = int(input())
dic = {}
for i in range(1,n+1):
  dic[i] = i*i

print(dic)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Answer 4

In [22]:
lst = input().split(",")

print(list(lst),end= " ")
print(tuple(lst))

1,2,3,4,5,6,7
['1', '2', '3', '4', '5', '6', '7'] ('1', '2', '3', '4', '5', '6', '7')

### Answer 5

In [12]:
class new:
  def __init__(self):
    self.str = ""

  def getString(self):
    self.str = input()
  
  def printString(self):
    print(self.str.upper())
   
first = new()
first.getString()
first.printString()

Uttam
UTTAM

### Answer 6

In [20]:
import math

val = input("")
val = val.split(',')

result = []
for D in val:
    Q = round(math.sqrt(2 * 50 * int(D) / 30))
    result.append(Q)

print(result)

100,150,180
[18, 22, 24]

### Answer 7

In [30]:
rows = int(input("Input rows: "))
cols = int(input("Input columns: "))
val = 0
matrix = [[val for col in range(cols)] for row in range(rows)]

for row in range(rows):
    for col in range(cols):
        matrix[row][col]= row*col

print(matrix)

Input rows: 3
Input columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

### Answer 8

In [41]:
inp = input()
inp = list(inp.split(","))

inp.sort()

res = ",".join(inp)
print(res)

without,hello,bag,world
bag,hello,without,world

### Answer 9

In [43]:
lines = []
while True:
    l = input()
    if l:
        lines.append(l.upper())
    else:
        break;

for i in lines:
    print(i)

hello world
practice makes perfect

HELLO WORLD
PRACTICE MAKES PERFECT

### Answer 10

In [50]:
inp = input()
inp = list(inp.split(" "))

inp = sorted(set(inp))

res = " ".join(inp)
print(res)

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

### Answer 11

In [52]:
lst = []
num = [i for i in input().split(",")]
for i in num:
    val = int(i, 2)
    if val % 5 == 0:
        lst.append(i)
print(",".join(lst))

0100,0011,1010,1001
1010

### Answer 12

In [53]:
lst = []
for i in range(100, 401):
    st = str(i)
    if (int(st[0])%2==0) and (int(st[1])%2==0) and (int(st[2])%2==0):
        lst.append(st)
print( ",".join(lst))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

### Answer 13

In [67]:
s = input()
d = 0
l = 0
for c in s:
    if c.isdigit():
        d =d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d )

Hello World 3244
Letters 10
Digits 4

### Answer 14

In [68]:
st = input()
up = 0
lo = 0
for ch in st:
    if ch.isupper():
        up += 1
    elif ch.islower():
        lo += 1
    else:
        pass
print ("Uppercase : ",up)
print ("Lowercase : ",lo)

helloWORld!
Uppercase :  3
Lowercase :  7

### Answer 15

In [55]:
a = int(input())
aa = a * 10 + a
aaa = aa * 10 + a
aaaa = aaa * 10 + a

print(a + aa + aaa + aaaa)

9
11106

### Answer 16

In [64]:
inp = input()
inp = (inp.split(","))

ans = [int(i)*int(i) for i in inp if int(i) % 2 == 1]

print(ans)

1,2,3,4,5,6,7,8,9
[1, 9, 25, 49, 81]

### Answer 17

In [66]:
final = 0
while True:
    lst = input()
    if lst == "":
        break
    else:
        lst = lst.split(" ")
        if lst[0] == "D":
            final = final + int(lst[1])
        elif lst[0] == "W":
            final = final - int(lst[1])

print(final)

D 100
D 200
W 200

100

### Answer 18

In [69]:
import re

lst = input()
lst = lst.split(",")
res = []
for i in lst:
    if len(i) < 6 or len(i) > 12:
        continue
    elif not re.search("([a-z])+", i):
        continue
    elif not re.search("([A-Z])+", i):
        continue
    elif not re.search("([0-9])+", i):
        continue
    elif not re.search("([!@$%^&])+", i):
        continue
    else:
        res.append(i)

print((" ").join(res))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

### Answer 19

In [173]:
class Answer:
    def divisible_by_seven(self, n):
        for number in range(1,n + 1):
            if number % 7 == 0: yield number


obj = Answer()
num = int(input("Enter the number : "))
generator = obj.divisible_by_seven(num)
for number in generator:
    print(number)

Enter the number : 46
7
14
21
28
35
42

### Answer 21

In [75]:
import math
x, y = 0, 0
while True:
    step = input()
    if step == "":
        break
    else:
        step = step.split(" ")
        if step[0] == "UP":
            y = y + int(step[1])
        elif step[0] == "DOWN":
            y = y - int(step[1])
        elif step[0] == "LEFT":
            x = x - int(step[1])
        elif step[0] == "RIGHT":
            x = x + int(step[1])
c = math.sqrt(x**2 + y**2)
print(c)

UP 5 DOWN 3 LEFT 3 RIGHT 2

5.0

### Answer 22

In [82]:
d=dict()
s=input()
for i in s.split():
  d[i]=d.get(i,0)+1

for i in sorted(d.items()):
    print(i[0],":", i[1])

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
2 : 2
3. : 1
3? : 1
New : 1
Python : 5
Read : 1
and : 1
between : 1
choosing : 1
or : 2
to : 1

### Answer 23

In [84]:
def getSquare(num):
  return num*num

n = int(input())
sqr = getSquare(n)
print(sqr)

5
25

### Answer 24

In [91]:
def absolute(num):
      # This will return the absolute number of a value.
    return abs(num)

num = int(input())
print(absolute(num))

print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

-6
6
Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

### Answer 26

In [92]:
def sum(a,b):
  ans = a+b
  print('Sum is : ',ans)

sum(4,5)

Sum is :  9

### Answer 27

In [93]:
def convert(val):
  st = str(val)
  print(st)
  
convert(34)

34

### Answer 28

In [95]:
def compute(val1,val2):
  sum = int(val1) + int(val2)
  print("Sum is :",sum)

compute("45","56")

Sum is : 101

### Answer 29

In [99]:
def concat(str1, str2):
  res = str1 + str2
  print(res)

concat("Hello ","World")

Hello World

### Answer 30

In [101]:
def max_len_string(str1,str2):
  if len(str1) > len(str2):
    print(str1)
  elif len(str2) > len(str1):
    print(str2)
  else:
    print(str1)
    print(str2)

max_len_string("Uttam","Anand1")

Anand1

### Answer 31

In [102]:
def fun():
  dict = {}
  for i in range(1,21):
    dict[i] = i*i
  print(dict)

fun()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Answer 32

In [104]:
def fun():
  dict = {}
  for i in range(1,21):
    dict[i] = i*i
  print(dict.keys())

fun()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Answer 33

In [105]:
def fun():
  lst = [i*i for i in range(1,21)]
  print(lst)

fun()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Answer 34

In [106]:
def fun():
  lst = [i*i for i in range(1,21)]
  print(lst[:5])

fun()

[1, 4, 9, 16, 25]

### Answer 35

In [113]:
def fun():
  lst = [i*i for i in range(1,21)]
  print(lst[-5:])

fun()

[256, 289, 324, 361, 400]

### Answer 36

In [114]:
def fun():
  lst = [i*i for i in range(1,21)]
  print(lst[5:])

fun()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Answer 37

In [119]:
def fun():
  lst = [i*i for i in range(1,21)]
  print(tuple(lst))

fun()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

### Answer 38

In [118]:
def fun():
  lst = [i*i for i in range(1,21)]
  tup = tuple(lst)
  tup1 = tup[:len(tup)//2]
  tup2 = tup[len(tup)//2:]
  print(tup1,"\n",tup2)

fun()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
 (121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

### Answer 39

In [125]:
tup = (1,2,3,4,5,6,7,8,9,10)
lst = list(tup)
tup1 = [i for i in range(1,len(lst)+1) if i % 2 == 0]

print(tuple(tup1))

(2, 4, 6, 8, 10)

### Answer 40

In [126]:
def check(str1):
  if str1 == "Yes" or str1 == "YES" or str1 == "yes":
    print("Yes")
  else:
    print("No")

check("yes")

Yes

### Answer 41

In [140]:
sqr_lst = list(map(lambda x: x**2, range(1,11)))
print(sqr_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Answer 42

In [141]:
even_lst = list(map(lambda x: x**2, filter(lambda x: x%2==0, range(1,11))))
print(even_lst)

[4, 16, 36, 64, 100]

### Answer 43

In [142]:
even_nums = list(filter(lambda x: x%2 == 0, range(1,21)))
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Answer 44

In [143]:
square_nums = list(map(lambda x: x**2 , range(1,21)))
print(square_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Answer 45

In [146]:
class American(object):
    @staticmethod
    def printNationality():
        print("America")

anAmerican = American()
anAmerican.printNationality()

America

### Answer 46

In [154]:
class American():
  def print_val(self):
    print("In America")

class NewYorker(American):
    print("In Newyork")

american = American()
newyorker = NewYorker()

print(american.print_val())
print(newyorker)

In Newyork
In America
None
<__main__.NewYorker object at 0x7f81189f8b90>

### Answer 47

In [160]:
class circle:
  def __init__(self,r):
    self.rad = r

  def area(self):
    print("Area = :",math.pi*self.rad*self.rad)

rad = int(input("Enter radius : "))
cir = circle(rad)
print(cir.area())

Enter radius : 6
Area = : 113.09733552923255
None

### Answer 48

In [162]:
class rectangle:
  def __init__(self,l,b):
    self.len = l
    self.bre = b

  def area(self):
    print("Area = :",self.len*self.bre)

len = int(input("Enter length : "))
br = int(input("Enter breadth : "))
rect = rectangle(len,br)
print(rect.area())

Enter length : 45
Enter breadth : 56
Area = : 2520
None

### Answer 49

In [166]:
class Shape():
    def __init__(self):
        pass
    def area(self):
        return 0

class Square(Shape):
    def __init__(self,length=0):
        Shape.__init__(self)
        self.length = length

    def area(self):
        return self.length*self.length

Asqr = Square(5)
print(Asqr.area())      # prints 25 as given argument

print(Square().area())  # prints zero as default area

25
0

### Answer 50

In [ ]:
raise RuntimeError("This is the error")

### Answer 51

In [168]:
def divide(a,b):
  try:
    num = a/b
    print(num)
  except ZeroDivisionError:
    print("Dividing by zero is an issue")

divide(12,0)

Dividing by zero is an issue

### Answer 52

In [171]:
class CustomException(Exception):
    def __init__(self, message):
        self.message = message


num = int(input())
num2 = int(input())
try:
    if num2 == 0:
        raise CustomException("We can't divide it by zero")
    elif num2 > 0:
        raise CustomException("Yes, we can divide the number")
except CustomException as ce:
    print("The error raised: " + ce.message)

5
0
The error raised: We can't divide it by zero